
* {
	vertical-align: middle
}

body {
	background-color: rgb(17, 17, 17);
}

.card {
	width: 60mm;
	line-height: 1.15;
}

.card .container {
	position: relative;
	width: 54mm;
	height: 82mm;
	margin: 3mm auto;
	padding: 0mm;
	border: 0.2mm solid white;
	border-radius: 2mm;
	background-image: url("media/background.jpg");
	background-repeat: repeat;
	background-size: 20mm 20mm;
	overflow: hidden;
}

.card div.picture {
	width: 54mm;
	height: 54mm;
	line-height: 50mm;
	text-align: center;
	color: white;
}

.card div.picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2mm;
}

.card div.name {
	position: absolute;
	top: 2mm;
	right: 4mm;
	padding: 1mm 4mm;
	border: 0.2mm solid gray;
	border-radius: 1mm;
	background-color: rgba(250, 235, 215, 0.85);
	font-family: "Brush Script MT", cursive;
	font-size: 3mm;
	text-align: center;
}

.card div.name::before, .card div.name::after {
	content: "";
	position: absolute;
	width: 2.45mm;
	top: 0.2mm;
	bottom: 0.2mm;
	border-radius: 0.5mm;
	background: url("media/gem.png") no-repeat;
	background-size: 5mm 5mm;
	opacity: 0.6;
}

.card div.name::before {
	left: 0mm;
	background-position: right;
}

.card div.name::after {
	right: 0mm;
	background-position: left;
}

.card div.costs {
	position: absolute;
	left: 0.8mm;
	top: 1.5mm;
	padding: 1.3mm 1mm;
	border: 0.2mm solid gray;
	border-radius: 2.8mm;
	background-color: rgba(250, 235, 215, 0.85);
	font-family: Garamond, serif;
	font-size: 3mm;
	text-align: center;
}

.card div.stats {
	position: absolute;
	left: 2.5mm;
	bottom: 28.5mm;
	padding: 0.2mm 1.5mm;
	border: 0.2mm solid gray;
	border-radius: 1mm;
	background-color: rgba(250, 235, 215, 0.85);
	font-family: Garamond, serif;
	font-size: 3mm;
	text-align: center;
}

.card div.box {
	position: absolute;
	left: 0.5mm;
	right: 0.5mm;
	top: 54.3mm;
	bottom: 3.75mm;
	padding: 0.5mm 1mm;
	border: 0.2mm solid gray;
	border-radius: 2mm;
	background-color: rgba(250, 235, 215, 0.85);
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: stretch;
}

.card div.box br {
	content: "";
	display: block;
	margin-bottom: 0.4mm;
}

.card div.description {
	font-size: 2.5mm;
}

.card div.lore {
	font-style: italic;
	font-size: 2.3mm;
}

.card div.tags {
	position: absolute;
	left: 10mm;
	right: 10mm;
	bottom: -0.1mm;
	padding: 0.15mm 2mm;
	border: 0.2mm solid gray;
	border-top-left-radius: 1mm;
	border-top-right-radius: 1mm;
	background-color: rgba(250, 235, 215, 0.85);
	font-family: Georgia, serif;
	font-size: 2.5mm;
	text-align: center;
}

.card div.separator {
	position: absolute;
	top: 51.5mm;
	height: 6mm;
	left: 2mm;
	right: 2mm;
}

.card div.separator img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card .costs img, .card .stats img, .card .description img {
	height: 2.5mm;
	margin-top: -0.6mm;
}

.card.tag-item .container {
	background-image: url("media/background-item.jpg");
}

.card.tag-spell .container {
	background-image: url("media/background-spell.jpg");
}

.card.tag-item div.name::before, .card.tag-item div.name::after {
	background-image: url("media/gem-item.png");
}

.card.tag-spell div.name::before, .card.tag-spell div.name::after {
	background-image: url("media/gem-spell.png");
}

.card.tag-artifact .tags, .card.tag-artifact .name {
	background-color: rgba(250, 250, 250, 0.85);
}
