
@media screen {
	#statistics {
		color: white;
	}

	#cards {
		line-height: 0px;
	}

	.card {
		display: inline-block;
	}
}

@media print {
	@page {
		size: 60mm 90mm;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
	}

	body, html {
		margin: 0px;
		padding: 0px;
		overflow: hidden;
	}

	#statistics {
		display: none;
	}

	.card {
		page-break-before: never;
		page-break-inside: never;
		page-break-after: always;
		break-after: page;
	}

	.card .corner {
		position: absolute;
		display: block;
		width: 0.1mm;
		height: 0.1mm;
		background-color: gray;
	}
	.card .corner.top {
		top: 0;
	}
	.card .corner.bottom {
		bottom: 0.2mm;
	}
	.card .corner.left {
		left: 0;
	}
	.card .corner.right {
		right: 0.3mm;
	}
}
