@font-face {
	font-family: cardFontDefault;
	src: url('https://fonts.cdnfonts.com/s/46658/Manrope-Regular.woff');
}

@font-face {
	font-family: cardFontName;
	src: url('https://fonts.cdnfonts.com/s/96456/TT Prosto Sans Trial Bold.woff');
}

@font-face {
	font-family: cardFontLore;
	src: url('https://fonts.gstatic.com/s/indieflower/v17/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2');
}

@font-face {
	font-family: cardFontTags;
	src: url('https://fonts.cdnfonts.com/s/96299/DeckardRegular_1_.woff');
}

:root {
	--back-color: rgba(250, 235, 215, 0.75);
	--box-shadow: 0 0 0.3mm 0.2mm gray;
}

* {
	vertical-align: middle
}

.card {
	display: block;
	position: relative;
	width: 60mm;
	line-height: 1.15;
	overflow: hidden;
	color: black;
	background-color: rgb(17, 17, 17);
	font-family: cardFontDefault;
}

.card .container {
	position: relative;
	width: 54mm;
	height: 83mm;
	margin: 3mm auto;
	padding: 0mm;
	border: 0.2mm solid white;
	border-radius: 2mm;
	background-image: url("media/background.jpg");
	background-repeat: repeat;
	background-size: 20mm 20mm;
	overflow: hidden;
}

.card div.picture {
	width: 54mm;
	height: 54mm;
	line-height: 50mm;
	text-align: center;
	color: white;
}

.card div.picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2mm;
}

.card div.name {
	position: absolute;
	right: 2.5mm;
	top: 2mm;
	padding: 1mm 4mm;
	border-radius: 1mm;
	background-color: var(--back-color);
	box-shadow: var(--box-shadow);
	font-family: cardFontName;
	font-size: 3mm;
	text-align: center;
}

.card div.name::before, .card div.name::after {
	content: "";
	position: absolute;
	width: 2.45mm;
	top: 0.2mm;
	bottom: 0.2mm;
	border-radius: 0.75mm;
	background: url("media/gem.png") no-repeat;
	background-size: 5mm 5mm;
	opacity: 0.6;
}

.card div.name::before {
	left: 0mm;
	background-position: right;
}

.card div.name::after {
	right: 0mm;
	background-position: left;
}

.card div.costs {
	position: absolute;
	right: 2.5mm;
	top: 8.3mm;
	padding: 0.2mm 1.2mm;
	border-radius: 1mm;
	background-color: var(--back-color);
	box-shadow: var(--box-shadow);
	font-size: 3mm;
	text-align: center;
}

.card div.stats {
	position: absolute;
	left: 2.5mm;
	bottom: 31.2mm;
	padding: 0.2mm 1.2mm;
	border-radius: 1mm;
	background-color: var(--back-color);
	box-shadow: var(--box-shadow);
	font-size: 3mm;
	text-align: center;
}

.card div.box {
	position: absolute;
	left: 0.5mm;
	right: 0.5mm;
	top: 54.7mm;
	bottom: 3.75mm;
	padding: 0.5mm 1.5mm;
	border-radius: 2mm;
	background-color: var(--back-color);
	box-shadow: var(--box-shadow);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: stretch;
}

.card div.box br {
	content: "";
	display: block;
	margin-bottom: 0.4mm;
}

.card div.description {
	font-size: 2.5mm;
}

.card div.lore {
	font-family: cardFontLore, cursive;
	font-size: 2.3mm;
	text-align: center;
}

.card div.lore::before {
	content: open-quote;
}

.card div.lore::after {
	content: close-quote;
}

.card div.tags {
	position: absolute;
	left: 9mm;
	right: 9mm;
	bottom: -0.1mm;
	padding: 0.4mm 1mm;
	border-top-left-radius: 1mm;
	border-top-right-radius: 1mm;
	background-color: var(--back-color);
	box-shadow: var(--box-shadow);
	font-family: cardFontTags;
	font-size: 2mm;
	text-align: center;
	text-transform: uppercase;
}

.card div.separator {
	position: absolute;
	top: 51.5mm;
	height: 6mm;
	left: 2mm;
	right: 2mm;
}

.card div.separator img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card .costs img, .card .stats img, .card .description img {
	height: 2.5mm;
	margin-top: -0.6mm;
}

.card.tag-item .container {
	background-image: url("media/background-item.jpg");
}

.card.tag-spell .container {
	background-image: url("media/background-spell.jpg");
}

.card.tag-item div.name::before, .card.tag-item div.name::after {
	background-image: url("media/gem-item.png");
}

.card.tag-spell div.name::before, .card.tag-spell div.name::after {
	background-image: url("media/gem-spell.png");
}

.card.tag-artifact .tags {
	background-color: rgba(250, 250, 250, 0.85);
}

.card .corner {
	display: none;
}

.card div.cardscount {
	position: absolute;
	top: 0;
	left: 10mm;
	padding: 0.1mm 0.5mm;
	color: white;
	background-color: black;
	display: none;
}

@media screen {
	.card.showcardscount div.cardscount {
		display: block;
	}
}
